#this is the configs sample file.
#lines started with a # will be ignored.

#insert your information here then rename this file to "configs.py"


#replace your token and guild here
#some thing like this : token='N7A1mZE3MDQzOTg0OTI0NzM0.dfq9NA.Ul_KSiU6ret9hYdkrAJtX34W-qe'
token=''
guild=''


#a little image to send users if they send a message
image0=''


#path to static datas (static data mean static strings like help message. binary statics are in static_files)
static_data="static_data"